/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  display: inline-block;
}

/* Utils */

.container {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.col-20 {
  width: 20%;
}

.col-40 {
  width: 40%;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.link-item {
  margin: 0 5px;
  cursor: pointer;
}

.no-left-margin {
  margin-left: 0;
}

/* Header */

.page-header {
  background-color: #fe6900;
  color: white;
  position: fixed;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 100%;
  z-index: 1;
}

.page-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.page-header .logo {
  width: 15%;
  cursor: pointer;
}

/* Nav */

.profile-item {
  margin: 0 10px;
}

/* Main */

.page-main {
  margin-top: calc(2rem + 50px);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card-container.bonus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
}
.card > p.bonus {
  width: 250px;
  position: absolute;
  top: 0;
  left: 101%;
  text-align: center;
}

.card {
  height: 350px;
  width: 250px;
  position: relative;
  margin-bottom: 75px;
}

.card > img {
  height: 350px;
  width: 250px;
  object-fit: cover;
}

.discount {
  background-color: red;
  color: white;
  padding: 3px 7px;
  position: absolute;
  bottom: 5%;
  font-size: 0.6rem;
}

.eco-friendly {
  background-color: #008000;
  color: white;
  padding: 3px 7px;
  position: absolute;
  bottom: 5%;
  left: calc(10% + 15px);
  font-size: 0.6rem;
}

.heart {
  background-color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 10px;
  position: absolute;
  top: 1%;
  right: 0;
  padding: 5px;
}

.brand-name {
  font-size: 0.6rem;
}

.cloth-name {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.price {
  color: red;
  font-weight: bold;
  margin-right: 3px;
}

.model-1b,
.model-2b,
.model-3b,
.model-4b,
.model-5b,
.model-6b {
  display: none;
}

/* Hover Main */

.heart:hover {
  color: red;
}

/* First Image Swap */
.card.model-1:hover img.model-1 {
  display: none;
}

.card.model-1:hover img.model-1b {
  display: inline-block;
}

/* Second Image Swap */
.card.model-2:hover img.model-2 {
  display: none;
}

.card.model-2:hover img.model-2b {
  display: inline-block;
}

/* Third Image Swap */
.card.model-3:hover img.model-3 {
  display: none;
}

.card.model-3:hover img.model-3b {
  display: inline-block;
}

/* Fourth Image Swap */
.card.model-4:hover img.model-4 {
  display: none;
}

.card.model-4:hover img.model-4b {
  display: inline-block;
}

/* Fifth Image Swap */
.card.model-5:hover img.model-5 {
  display: none;
}

.card.model-5:hover img.model-5b {
  display: inline-block;
}

/* Sixth Image Swap */
.card.model-6:hover img.model-6 {
  display: none;
}

.card.model-6:hover img.model-6b {
  display: inline-block;
}

/* Footer */

.page-footer {
  background-color: #1a1a1a;
  color: white;
  min-height: 50px;
  margin-top: 2rem;
}

.page-footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.page-footer nav.links li {
  font-size: 0.7rem;
  cursor: pointer;
  margin: 0 5px;
}

.page-footer:first-of-type nav.links li {
  margin-left: 0;
}

.page-footer nav i.link-item {
  margin: 0 2px;
}
